#view {
  border: 1px black solid;
  position: absolute;
  z-index: 0;
}
#view > div {
  white-space: nowrap;
}

.cell {
  width: 30px; height: 30px;
  /* border: 0.1px solid lightgray; */
  padding: 3px;
  /* background-color: white; */
  color: white;
  /* color: rgba(0,0,0,0); */
  text-align: center; font-size: 17px;
  font-family: sans-serif;
  display: inline-block;

  background-image: url("../assets/background_unlit.png");
  background-size: cover;
  background-position: center;

  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.darkzone{
  background-image: url("../assets/background_unlit.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
}

.litzone{
  background-image: url("../assets/background_lit.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
}
/* .waterlit{
  background-image: url("../assets/water_lit.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
}
.waterunlit{
  background-image: url("../assets/water_dark.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */
/* 
.wall{
  background-image: url("../assets/stone_wall_back.png");
  background-size: 255% 330%;
  background-position: center;
  color: rgba(0,0,0,0);
} */
/* .grassLit{
  background-image: url("../assets/grass_with_lit_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */
/* .grass{
  background-image: url("../assets/grass_with_dark_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */

/* .mushroomsLit{
  background-image: url("../assets/mushrooms_with_lit_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */
/* .mushrooms{
  background-image: url("../assets/mushrooms_with_dark_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */

/* .unlit{
  background-image: url("../assets/lamp_unlit_with_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */

.lit{
  background-image: url("../assets/lamp_lit_with_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
}
.savedsoul{
  background-image: url("../assets/soul_with_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
}

.enemy{
  background-image: url("../assets/enemy_with_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
}

/* .player{
  width: 30px;
  height: 45px;
  margin-top: -15px;
  margin-left: -21px;
  position: absolute;
  background-image: url("../assets/player_with_dark_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */
/* .playerLit{
  background-image: url("../assets/player_with_lit_tile.png");
  background-size: cover;
  background-position: center;
  color: rgba(0,0,0,0);
} */
.sprite{
  width: 36px;
  height: 36px;
  margin-top: -3px;
  margin-left: -25px;
  position: absolute;
}
.pickupsprite{
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-left: -17px;
  position: absolute;
}
.holesprite{
  width: 36px;
  height: 36px;
  margin-top: -3px;
  margin-left: -24px;
  position: absolute;
}
.lampsprite{
  width: 36px;
  height: 36px;
  margin-top: -3px;
  margin-left: -23px;
  position: absolute;
}
.wanderpointsprite{
  width: 36px;
  height: 36px;
  margin-top: -3px;
  margin-left: -31px;
  position: absolute;
}
.wallsprite{
  width: 36px;
  height: 36px;
  margin-top: -3px;
  margin-left: -26px;
  position: absolute;
}
/* .wallsprite{
  width: 91px;
  height: 91px;
  margin-top: -38px;
  margin-left: -53px;
  position: absolute;
} */
.soulsprite{
  width: 36px;
  height: 36px;
  margin-top: 0px;
  margin-left: -28px;
  position: absolute;
}
.enemysprite{
  width: 50px;
  height: 50px;
  margin-top: -13px;
  margin-left: -35px;
  position: absolute;
}
.playersprite{
  width: 30px;
  height: 45px;
  margin-top: -15px;
  margin-left: -21px;
  position: absolute;
}

button {
  border: 2px solid white;
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  padding: 4px;
  color: rgb(64, 64, 64);
  background-color: white;
  height: 45px;
}
button:hover {
  border: 2px solid rgb(64, 64, 64);
}
.selected, button:active {
  background-color: rgb(64, 64, 64);
  color: white;
}
.palette, .tool, .edit, .dialog > button {
  width: 45px;
}
#menu > button {
  width: 60px;
}
.edit:disabled {
  color: rgba(64, 64, 64, 0.5);
  background-color: white;
  border-color: white;
}


#menu, #toolbar {
  border: 1px black solid;
  padding: 1px; padding-left: 2px; padding-right: 2px;
  font-size: 17px; font-family: sans-serif;
  color: rgb(64, 64, 64);
  background-color: white;
  position: fixed;
  z-index: 1;
}

#toolbar {
  top: 60px;
  width: 180px;
}

textarea, input, button {
  outline: none;
}
textarea {
  overflow: hidden;
  vertical-align: middle;
}
.dialog {
  padding-left: 2px;
  border-left: 1px solid rgb(64, 64, 64);
}
.field {
  width: 40px; height: 15px;
  padding: none;
  border: none;
  border-bottom: 1px solid rgb(64, 64, 64);
  resize: none;
  font-size: 15px;
  font-family: monospace;
}
.info {
  width: 170px;
  padding: 5px;
  resize: none;
  border: none;
  font-size: 14px;
  font-style: italic;
  font-family: monospace;
  white-space: pre-line;
  color: transparent;
  text-shadow: 0 0 0 white;
  background-color: rgb(64, 64, 64);
}
.fieldname{
  width: 170px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 3px;
  resize: none;
  border: none;
  font-size: 14px;
  font-style: italic;
  font-family: monospace;
  white-space: pre-line;
  color: rgb(64, 64, 64);
  /* text-shadow: 0 0 0 white; */
}
.numberInput{
  width: 95px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  resize: none;
  border: 2px solid rgb(64, 64, 64);
  font-size: 14px;
  /* font-style: italic; */
  font-family: monospace;
  white-space: pre-line;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
  width: 5px;
}
.applyButton{
  border: 2px solid rgb(64, 64, 64);
  text-align: center;
  font-size: 14px;
  font-family: monospace;
  padding: 4px;
  float: right;
  color: rgb(64, 64, 64);
  background-color: white;
  height: 30px;
}
.material-icons {
  vertical-align: middle;
}
.material-icons.md-18 {
  font-size: 18px;
}
